@model  registry_browser.Pocos.Repositories

@{
    ViewData["Title"] = "Registry Viewer: " + ViewData["Repository"];
}


<div class="row">
    <div class="col-md-12">
        <h2>Available Repositories for <a href="@ViewData["Repository"]">@ViewData["Repository"]</a> </h2>
        <div class="list-group">
            @foreach (var repository in Model.repositories)
            {
                <a asp-controller="Home"
                   asp-action="GetRepositoryTags" 
                   asp-route-repository="@repository" 
                   class="list-group-item">@repository</a>
            }
        </div>
    </div>

</div>
